<div class="example-header" fxLayout="row">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="equipo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Equipo </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Equipo:"> {{row.equipo}} ({{row.e}}) </mat-cell>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="r1h">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mejor Hito: </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Hitos:"> {{row.r1h}} ({{ uv.reglas.puntajehitos[row.r1h] }} Puntos)</mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="r1b">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Bonus </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Bonus:"> {{row.r1b}} ({{ uv.reglas.puntajebonus * row.r1b }} Puntos)</mat-cell>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="r1r">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Reinicios </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Reinicios:"> {{row.r1r}} ({{ uv.reglas.puntajereinicio * row.r1r }} Puntos)</mat-cell>
        </ng-container>

        <ng-container matColumnDef="r1f">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Puntaje de la ronda </mat-header-cell>
            <mat-cell *matCellDef="let row" data-label="Puntaje de la ronda:"> {{row.r1f}} Puntos </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row [ngClass]="{'ausente': row.a == 0, 'listo': row.a >= 2 }" *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

</div>